/*Navbar*/
  
nav.navbar {
    padding: 18px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition:  0.32s ease-in-out;
    background-color: rgb(119, 106, 106);
  }
  nav.navbar.scrolled {
    padding: 0px 0;
    background-color: #121212;
  }
  nav.navbar a.navbar-brand {
      padding: 300px,0px,0px,0px;
      margin-left: 2%;
    
  }
  nav.navbar .navbar-nav .nav-link.navbar-link {
    font-weight: 550;
    color: #fff !important;
    letter-spacing: 2px;
    padding: 0%;
    font-size: 18px;
    opacity: 0.75;
    margin-left: 23%;
  }
  nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
  nav.navbar .navbar-nav a.nav-link.navbar-link.active {
      opacity: 1;
  }
  .aws{
    margin-top: 2%;
    font-size: 35;
  }

  .navbar-logo{
    width: 500%;
    height: 5%;
  }